.dplr-tab-content--form-create,.dplr-tab-content--form-edit {

    @import "colorpicker";

    .color-selector{
        width: 201px;
    }
    
    span.noti {
        padding-left: 10px;
    }

    .dp-button {
        margin-left: 20px;
    }

    .sortable li {
        cursor: move;
    }

    .dplr-thankyou-url {
        display: none;
    }

}

